<!-- Custom property, ngif, attribute directives > [ngClass], custom directives and pipes-->
<section [ngClass]="{clicked: isClicked}" (click) = 'onHighlight()'>
    <div *ngIf="isMovieShown" [movieFavorite] = 'movie.isFavorite'>
    <!-- (movieEmitter)="onAddMovie($event)" -->
        <h1>Movie's title: {{movie.title | uppercase}}</h1>
        <p>Main actor: {{movie.actor}}</p>
        <p>Score: {{movie.score}}</p>
        <p>Category: {{movie.category}}</p>
        <p>Year: {{movie.year}}</p>
    </div>

    <!-- Event binding and Custom event -->
    <h1 class="bottomlike" (click)="onClick()">Click here and watch the console</h1>
</section>
