<!-- String interpolation, property binding, event binding, custom property, custom event,
ngif, ngfor, attribute directive, custom directive, pipes, custom pipes, template driven form,
model driven form, Validators, custom validators, error handling -->

<section>
    <!-- String interpolation -->
    <!-- <h1>My title is {{title}}</h1> -->

    <!-- Property binding -->
    <h1 [textContent]="title"></h1>

    <app-movie-form></app-movie-form>

    <!-- Custom pipe -->
    <header>
        Genre: {{highMovies | categoryList}}
    </header>

    <!-- Custom property, Custom event and ngfor (directive strutturale) -->
    <app-movie-component
        *ngFor="let singleMovie of highMovies"
        [movie]="singleMovie"
        (customClick)="onUpdateMovie($event)">
    </app-movie-component>

    <!--  -->
</section>